.tableBox_divScrollContainer{
 /* border: 2px solid red; */
 margin-bottom: 1.5rem;
 display: inline-block;
 align-items: center;
 padding-left: 0;
}
.tableBox_mainContainer{
 display: inline-block;
 background-color: #ffffff;
 box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
 border-radius: 0.5rem;
 /* border: 2px solid rgb(217, 255, 0); */
}

.tableBoxTableName{
 height: 3.5rem;
   font-family: 'Signika Negative', sans-serif;
   font-size: 1.3rem;
 width: 100%;
 font-weight: 600;
 color: #262727;
 /* border: 2px solid #4c00ff; */
 display: flex;
 align-items: center;
 justify-content: space-between;
 padding: 0.3rem;
 padding-left: 1rem;
 padding-right:1rem;
 border-bottom: 2px solid #d1d5db;
}
.tableBtn>*{
 font-size: 1.1rem;

}
.tableBtn{
 gap: 0.5rem;
}
.tableBoxTableName_delete_update_search_Box{
 height: 100%;
 /* border: 2px solid blue; */
 display: flex;
 justify-content: flex-end;
 align-items: center;
 gap: 1rem;
 margin-left: 2rem;
}
.tableBoxtableName_NameBox{
 height: 100%;
 /* width: 20rem; */
 /* border: 2px solid red; */
 display: flex;
 align-items: center;
 gap: 1rem;
}
.tableNameInnerInputBox{
 height: 75%;
 display: flex;
 align-items: center;
 border-radius: 0.3rem;
 justify-content: center;
 overflow: hidden;
 box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.tableNameInnerInputBox_iconBox{
 height: 100%;
  display: flex;
 align-items: center;
 justify-content: center;
/* border: 2px solid red; */
overflow: hidden;
}
.tableNameInnerInputBox_iconBox>*{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
 font-size: 1.1rem;
 color: #262727;
}
.tableNameInnerInputBox_iconBox input{
   height: 100%;
  width: 10rem;
  border: none;
  outline: none;
  font-family: 'Signika Negative', sans-serif;
  font-size: 1.1rem;
  border-radius: 0px 0.3rem  0.3rem 0px;
  padding-left: 0.3rem;
  border-left: 2px solid #d1d5db;
}
.tableNameInnerBox{
 height: 75%;
 padding-left: 1rem;
 padding-right:1rem;
 display: flex;
 
 justify-content: center;
 align-items: center;
 border-radius: 0.3rem;
 box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.tableBox_tableContainer{
 width: 100%;
 padding: 1rem;
}

table{
 border: 2px solid red;
background: #FFFFFF;
  border-collapse: collapse;
border: 0.5px solid #e1e4eb;
   font-family: 'Signika Negative', sans-serif;
  font-size: 1.1rem;
  font-weight: 400;
}

th,td{
 width: 7rem;
 height: 2.5rem;
 border: 2px solid #e1e4eb;
}

/* .tdTableBox{
  height: 100%;
  width: 100%;
  border: none;
  margin: 0;
  padding: 0;
  text-align: center;
  padding: 0.5rem;
  background-color: red;
} */
.tdTable{
  padding: 0.5rem;
  margin: 0;
  font-size: 1.1rem;
  font-family: 'Signika Negative', sans-serif;
}
.tdTable:hover{
border: 3px solid #7e7be2;
}
.tdInputBox{
  cursor: pointer;
  height: 100%;
  width: 100%;
    border: none;
  margin: 0;
  font-size: 1.1rem;
  font-family: 'Signika Negative', sans-serif;
}
.innerTableSearchBoxSelect{
  height: 100%;
}
.innerTableSearchBoxSelect select{
  height: 100%;
    font-family: 'Signika Negative', sans-serif;
    font-size: 1rem;
    border: none;
    outline: none;
    /* box-shadow: rgb(0 0 0 / 5%) 0px 0px 0px 1px, rgb(209 213 219) 0px 0px 0px 1px inset; */
    border-radius:0px  0.3rem 0.3rem 0px;
    padding: 0.2rem;
    color: #343535;
     border:0px;
     background-color: #e9e9ed;
   outline:0px;
   border-left: 2px solid #d1d5db;
}